<span class="form-title">Escolha uma cidade</span>
  <div class="form__group field">
       
  <form class="form" id="form" action="/" method="POST">
    <input type="input" class="form__field" name="city" placeholder="Introduza o nome da cidade... "required />
    <!--<button type="submit " class="button">Ver</button><i class="search-icon"></i>-->
    <button class="learn-more">Procurar</button>
    
  
  </form>
</div>