  <div class="form-div"></div>
  <span class="form-title">Escolha uma cidade</span>
  <form class="form" action="/" method="POST">
        
            
            <input class="form-input" type="text" name="city" placeholder="Introduza o nome da cidade... "><br>

            <button type="submit " class="button">Ver</button>
            <br><br><br>
        
    </form>
    </div>